<hr>
<h1>Orders Pending</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xl-6">
            <div class="card bg-c-blue order-card" (click)="goToOrders()">
                <div class="card-block">
                    <h4 class="m-b-20">Orders in Cart</h4>
                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>{{activeOrders.length}}</span>
                    </h2>
                    <p class="m-b-0">Total Cost<span class="f-right">{{totalCost | currency:'Rs. '}}</span></p>
                </div>
            </div>
        </div>

        <!-- <div class="col-md-6 col-xl-6">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h4 class="m-b-20">Orders Checked-Out</h4>

                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>
                            {{checkoutCartOrder ? checkoutCartOrder.orders.length : 0}}</span></h2>


                    <div class="row">
                        <div class="col-md-4 col-xl-8"><strong>Products</strong></div>
                        <div class="col-md-4 col-xl-4"><strong>Status</strong></div>
                    </div>
                    <hr>
                    <div *ngFor="let order of checkoutCartOrder.orders">
                        <div class="row">
                            <div class="col-md-4 col-xl-7">{{order.product.productName}}</div>
                            <div class="col-md-4 col-xl-1">{{order.quantity}}</div>
                            <div class="col-md-4 col-xl-4">{{order.orderStatus}}</div>
                        </div>
                    </div>
                    <hr>
                    <p class="m-b-0">
                        <strong>Payment Type
                            <span class="f-right">{{checkoutCartOrder.paymentType}}</span>
                        </strong>
                    </p>
                    <p class="m-b-0">
                        <strong>Delivery Address
                            <span class="f-right">{{checkoutCartOrder.deliveryAddress}}</span>
                        </strong>
                    </p>
                </div>
            </div>
        </div> -->

        <div class="col-md-6 col-xl-6">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h4 class="m-b-20">Orders Canceled</h4>
                    <h2 class="text-right"><i class="fa fa-frown-o f-left"></i><span>{{deletedOrders.length}}</span>
                    </h2>
                    <p class="m-b-0">Last Deleted At<span class="f-right">{{lastDeletedAt ? lastDeletedAt : 'NA'}}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-order-track></app-order-track>
<br><br><br>