<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
<div *ngIf="checkoutCartOrder.id">
    <hr>
    <h1>Orders Tracking</h1>
    <hr>
    <div class="container padding-bottom-3x mb-1">
        <div class="card mb-3">
            <div class="p-4 text-center text-white text-lg bg-dark rounded-top"><span class="text-uppercase">Tracking
                    Order
                    No - </span><span class="text-medium">{{checkoutCartOrder.id}}</span></div>
            <div class="d-flex flex-wrap flex-sm-nowrap justify-content-between py-3 px-2 bg-secondary">
                <div class="w-100 text-center py-1 px-2"><strong class="text-medium">Order Date:</strong>
                    {{checkoutCartOrder.orderDate}}</div>
                <div class="w-100 text-center py-1 px-2"><strong class="text-medium">Delivery Address:</strong>
                    {{checkoutCartOrder.deliveryAddress}}</div>
                <div class="w-100 text-center py-1 px-2"><strong class="text-medium">Expected Date:</strong>
                    {{checkoutCartOrder.expectedDate}}
                </div>
            </div>

            <div class="card-body" *ngFor="let os of ordersWithStatus">
                <h5>{{os.productName}} ({{os.quantity}})</h5>
                <div
                    class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x ">
                    <div class="step {{os.orderSteps[0]}}">
                        <div class="step-icon-wrap">
                            <div class="step-icon"><i class="pe-7s-cart"></i></div>
                        </div>
                        <h4 class="step-title">Confirmed Order</h4>
                    </div>
                    <div class="step {{os.orderSteps[1]}}">
                        <div class="step-icon-wrap">
                            <div class="step-icon"><i class="pe-7s-config"></i></div>
                        </div>
                        <h4 class="step-title">Processing Order</h4>
                    </div>
                    <div class="step {{os.orderSteps[2]}}">
                        <div class="step-icon-wrap">
                            <div class="step-icon"><i class="pe-7s-medal"></i></div>
                        </div>
                        <h4 class="step-title">Quality Check</h4>
                    </div>
                    <div class="step {{os.orderSteps[3]}}">
                        <div class="step-icon-wrap">
                            <div class="step-icon"><i class="pe-7s-car"></i></div>
                        </div>
                        <h4 class="step-title">Product Dispatched</h4>
                    </div>
                    <div class="step {{os.orderSteps[4]}}">
                        <div class="step-icon-wrap">
                            <div class="step-icon"><i class="pe-7s-home"></i></div>
                        </div>
                        <h4 class="step-title">Product Delivered</h4>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="d-flex flex-wrap flex-md-nowrap justify-content-center justify-content-sm-between align-items-center">
            <div class="custom-control custom-checkbox mr-3">
                <input class="custom-control-input" type="checkbox" id="notify_me" checked="">
                <label class="custom-control-label" for="notify_me">Notify me when order is delivered</label>
            </div>
            <!-- <div class="text-left text-sm-right"><a class="btn btn-outline-primary btn-rounded btn-sm"
                    href="orderDetails" data-toggle="modal" data-target="#orderDetails">View Order Details</a></div> -->
        </div>
    </div>
</div>