<div class="container bootstrap snippets bootdey">
    <div class="account-wall">
        <img class="profile-img" src="/assets/avatar_user.png" alt="">
        <!-- <p class="profile-name">User 123</p> -->
        <!-- <span class="profile-email">a@gmail.com</span> -->
        <form class="form-signin" [formGroup]="formGroup">
            <input type="text" formControlName="email" class="form-control" placeholder="Email" required autofocus>
            <!-- <div *ngIf="formGroup.get('email').errors">
                <div *ngIf="formGroup.get('email').errors.required">Email is required</div>
            </div> -->
            <input type="password" formControlName="password" class="form-control" placeholder="Password" required
                autofocus>
            <button (click)="loginUserCheck()" class="btn btn-lg btn-primary btn-block" [disabled]="formGroup.invalid"
                type="submit">
                Sign in</button>
        </form>
    </div>
</div>